* {
    font-family: 'Cormorant Garamond', serif;
    ;
}

body {
    background-color: #0a192f;
    margin: 0px;
}

nav {
    display: none;
    transition: all 500ms ease;
    background-color: rgb(0, 0, 0, 0.6);
    border-radius: 10%;
    backdrop-filter: blur(8px);
}

.nav-item {
    cursor: pointer;
    margin: 10px 25px 10px 25px;
    list-style-type: none;
}

.navItem {
    border-bottom: 2px solid rgb(247, 138, 235, 0);

}

li {
    position: relative;
}

.emptyBlock {
    height: 2px;
    background-color: rgba(249, 140, 236, 0);
    visibility: hidden;
    position: relative;
    top: 0;
    left: 0;
    transition: 0.3s;
}

.baseLink {
    padding: 8px;
}

.workBorder {
    transform: rotate(2deg);
    width: 51.11px;
}

.aboutBorder {
    width: 56.36px;
}

.experienceBorder {
    transform: rotate(-2deg);
    width: 84.32px;
}

.contactBorder {
    transform: rotate(-0.5deg);
    width: 67.02px;
}

.navItem:hover>.emptyBlock {
    visibility: visible;
    background-color: rgb(247, 138, 235, 1);
}

.contFirst {
    margin-top: 150px;
}

.par {
    color: aqua;
    font-size: 25px;
}

.myData {
    font-size: 5vw;
    font-weight: 900;
    color: rgb(237, 237, 237);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-size-adjust: auto;
}

.myBio {
    color: rgb(220, 220, 220);
    font-size: 20px;
}

.appleLink {
    color: aqua;
    text-decoration: none;
    display: inline-block
}

.appleLink:after {
    display: block;
    content: '';
    border-bottom: solid 1px #019fb6;
    transform: scaleX(0);
    transition: 250ms ease-in-out;
}

.appleLink:hover:after {
    transform: scaleX(1);
}

.appleLink.fromLeft:after {
    transform-origin: 0% 50%;
}



h3 {
    color: white;
}

h3>span {
    color: aqua;
}

.contSecond {
    margin-top: 200px;

}

@media (max-width: 576px) {
    .myData {
        font-size: 8vw;
    }

    .par {
        font-size: 4vw;
    }
}

.line {
    width: 300px;
    height: 0.5px;
    background-color: rgb(162, 162, 162);
    margin-left: 10px;
}

.languages {
    display: flex;
    padding-inline-start: 12px
}

.languages li {
    list-style: square;
    color: aqua;
}

.languages li span {
    color: white;
    opacity: 0.75;
}

.myPhoto {
    position: relative;
    width: 300px;
    height: 400px;
}

.myPhoto img {
    position: relative;
    z-index: 1;
    filter: sepia(100%) hue-rotate(190deg) saturate(500%);
    transition: 0.5s
}

#box {
    position: absolute;
    width: 300px;
    height: 400px;
    border: 1px solid aqua;
    top: 20px;
    left: 20px;
    z-index: 0;
    transition: 0.5s;
}


.myPhoto img:hover {
    filter: none;
}

.contThird {
    margin-top: 200px;
}

.inner {
    display: flex;
}

.buttons {
    display: flex;
    flex-direction: column;
}

#buttonContent h5 {
    color: white;
}

#buttonContent p {
    color: rgb(255, 255, 255, 0.5);
}

.btn {
    background-color: none;
    color: white;
    border-left: 2px solid gray;
    border-radius: 0%;
    margin-top: -2px;
    text-align: left;
    padding: 10px 20px 10px 20px;
    font-size: 18px;
}

.btn:hover {
    background-color: rgb(34, 70, 111);
    color: aqua;
    border-left: 2px solid gray;
}

.btn[aria-selected="true"] {
    border-left: 2px solid aqua;
    color: aqua;
    background-color: rgb(34, 70, 111);
}

#buttonContent li {
    list-style: square;
    color: aqua;
}

#buttonContent span {
    color: white;
    opacity: 0.75;
}

#buttonContent ul {
    font-size: 18px;
}

#toggler {
    background-color: aqua;
}

.navbar {
    padding-top: 0px;
}

.navbar .container-fluid {
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 0.5s;
    transition-property: background-color;
}

.clicked {
    background-color: rgb(34, 70, 111);
    transition: 0.5s;
}

.blurToggle {
    filter: blur(5px);
}

@media (max-width: 600px) {
    .buttons {
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
        margin-bottom: 20px;
    }

    .inner {
        display: flex;
        flex-direction: column;
    }

    .btn {
        border: none;
    }

    .btn[aria-selected="true"] {
        background-color: rgb(34, 70, 111);
        border-bottom: 2px solid aqua;
        border-left: none;
        color: aqua;
    }

    .btn:hover {
        background-color: rgb(34, 70, 111);
        color: aqua;
        border-left: none;
    }
}

html {
    scroll-behavior: smooth;
}

.workDescription {
    color: white;
    text-align: right;
    position: relative;
    z-index: 0;
    padding-right: 5px;

}

.project1,
.project2 {
    filter: sepia(100%) hue-rotate(190deg) saturate(500%);
    transition: 0.5s;
    position: absolute;
    display: block;
    max-width: 100%;
    z-index: 0;
}

.project1:hover,
.project2:hover {
    filter: none;
}

.workInfo {
    width: 495px;
    color: rgb(255, 255, 255, 0.8);
    background-color: #112240;
    padding: 15px;
    position: relative;
    z-index: 1;

}

.itLanguages {
    list-style: none;
    padding-left: 0px;
}

.itLanguages li {
    display: inline;
    margin-left: 15px;
}

@media (min-width: 768px) {
    .myProjects {
        width: 75%;
    }
}

.firstPar {
    font-size: 18px;
    color: aqua;

}

#navbar.scroll-up {
    transform: translateY(0);
}

#navbar.scroll-down {
    transform: translateY(-100%);
}

@media (max-width: 991px) {
    .project1 {
        opacity: 0.2;
        filter: sepia(100%) hue-rotate(190deg) saturate(50%);
    }
}

#halcyonLink {
    text-decoration: none;
    color: white;
    transition: 0.5s color;
}

#halcyonLink:hover {
    color: aqua;
}

.otherWorks {
    color: white;
    text-align: center;
}

.contFive {
    margin-top: 150px;
}

.bi-folder {
    color: aqua;
}

.bi-box-arrow-in-up-right {
    color: gray;
    transition: 0.3s color;
}

.bi-box-arrow-in-up-right:hover {
    color: aqua;
}

.card {
    background-color: #112240;
    color: white;
    cursor: pointer;
    position: relative;
    top: 0;
    transition: top ease 0.3s;
}

.card-body {
    height: 300px;
}

.card:hover {
    top: -7px;
}

h4 {
    transition: color 0.3s ease;
}

.card:hover h4 {
    color: aqua;
}

.itLanguages-two li {
    margin-left: 0px;
    margin-right: 15px;
    opacity: 0.5;
}

.contFive .col-12 {
    padding-left: 0px;
}

.contFive .col-lg-4 {
    margin-bottom: 12px;
}

#btnShow, #btnContact, #btnSend {
    background-color: #0a192f;
    border: 1px solid aqua;
    color: aqua;
}

#btnShow:hover, #btnContact:hover, #btnSend {
    border: 1px solid aqua;
    background-color: #003a43;
}

.buttonShow {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.newElems, .content {
    opacity: 0;
    height: 0;
    overflow: hidden;
    pointer-events: none;
    transition: opacity 0.5s ease;
}

.isShow {
    transition: opacity 0.5s ease;
    opacity: 1;
    height: auto;
    overflow: visible;
    pointer-events: auto;

}
.contSixth .sectionLast{
    color: aqua;
}
.contSixth{
    margin-top: 100px;
}
.content{
    width: 750px;
    height: fit-content;
    padding: 10px;
    border: 1px solid aqua;
}
label{
    color: white;
}
#newText{
    width: 100%;
    height: 170px;
}
.content p{
    margin-bottom: 0px;
}
.bi-house-door{
    transition: 0.5s color;
    color: white;
}
.bi-house-door:hover{
    color: aqua;
}
.socialMedias{
    position: fixed;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    left: 20px;
    bottom: 5px;
    opacity: 0.5;
}
.socialMedias i{
    cursor: pointer;
    transition: 0.2s top ease;
    position: relative;
    top: 0px;
    padding: 5px;
}
.lineFixed{
    height: 150px;
    border: 1px solid white;
    width: 0px;
}
.socialMedias i:hover{
    color: aqua;
    top: -3px;
}
.myEmail{
    position: fixed;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    left: 92%;
    bottom: 0px;
    opacity: 0.5;
    bottom: 150px;
}
.myEmail p{
    transform: rotate(90deg);
    position: relative;
    top: 60px;
}
.line1{
    position: relative;
    top: 145px;
}
.socialNets{
    display: none;
    justify-content: center;
    align-items: center;
}
.socialNets i{
    padding: 10px;
    color: white;
    transition: 0.2s all;
    cursor: pointer;
    font-size: 20px;
}
.socialNets i:hover{
    color: aqua;
}
@media (max-width: 1200px){
    .socialNets{
        display: flex;
    }
    .socialMedias{
        display: none;
    }
    .myEmail{
        display: none;
    }
}